//- p home
//- p #{user}
//- - var t_user=user.roles;
//- p #{user.roles}

//- p #{user.orderPermit()}
//- p #{user.userPermit()}
//- p #{user.productPermit()}
.container.main-content
  .row
    .col-md-2
      .actionbtn-container
        .action-buttons
          a.action-consume.rounded-x(href='/consume')
            h3 消费
        .action-buttons
          a.action-new-card.rounded-x(href='/newmember')
            h3 新会员
        .action-buttons
          a.action-deposit.rounded-x(href='/deposit')
            h3 充值
        .action-buttons
          a.action-query.rounded-x(href='/query')
            h3 查询
        .action-buttons
          a.action-events.rounded-x(href='/events')
            h3 优惠活动
    .col-md-10.action-form
      h2 here is the summary information
      .row
        .col-md-12
          h2 statistics