extends ../layouts/flat_template

block content
  .container.main-content
    .row
      .col-md-2
        include ../includes/actionbuttons
      .col-md-10.action-form
        h2 新会员活动套餐
        .new-member-menu
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x
          .new-member-event.rounded-3x

        .devider.devider-dotted
        .form-horizontal.margin-top-20
            .form-group
              label.control-label.col-sm-2(for='customername') 姓名
              .col-sm-3
                input.form-control#customerName(type='text',name='customerName',placeholder='姓名')
            .form-group
              label.control-label.col-sm-2(for='mobile') 手机号码
              .col-sm-3
                input.form-control#mobile(type='text',name='mobile',placeholder='手机号码',required)
            .form-group
              label.control-label.col-sm-2(for='customerage') 年龄
              .col-sm-3
                input.form-control#cusomterAge(type='text',name='age',placeholder='年龄')
            .form-group
              label.control-label.col-sm-2 性别
              .col-sm-3
                label.radioLabel(for='Gmale')
                  input(type='radio',id='Gmale',name='customerGender',value="男")
                  | 男
                label.radioLabel(for='Gfemale')
                  input(type='radio',name='customerGender',value='女')
                  | 女
            .form-group
              label.control-label.col-sm-2(for='depositsum') 充值金额
              .col-sm-3
                input.form-control#depositSum(type='text',name='balance',placeholder='充值金额',required)
                input#depositNumber(type='hidden',name='depositNumber')
                input#donateNumber(type='hidden',name='donateNumber')
            .row
              .col-sm-3.col-sm-offset-2
                button.btn.btn-primary#createNewMemberCardBtn 制作会员卡
    
    .modal.fade#newMemberModal(tabindex='-1',data-keyboard="false",data-backdrop="static",role='dialog',aria-labelledby='depositModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal',aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title 创建新会员卡
          .modal-body
            h3#notify_text_area
            #meberInfoBox
            input#notify_msg(type='hidden')
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') 关闭
            button.btn.btn-primary#createNewMemberBtn 创建新会员

block customescript
   script.
    $(function(){
      $('.action-new-member').addClass('active');
     $('.catetory-link').click(function(ev){
      $('.catetory-link').removeClass('category-selected');
      $(this).addClass('category-selected');
     });
     $('#customername').focus();
     $(document).keypress(function(ev){
      if(ev.keyCode=='13'){
        alert('submit!!');
      }
     });

      var newMemberData={};
      $('#createNewMemberBtn').hide();
      $('#createNewMemberBtn').click(function(){
        newMemberData.cardid=$('#notify_msg').val();
        $.post('/newmember',newMemberData,function(data){
          
        });
        $('#newMemberModal').modal('hide');

        //clear the input fields
        $('#customerName').val("");
        $('#mobile').val("");
        $('#cusomterAge').val("");
        $('#depositSum').val("");
        $('#depositNumber').val("");
        $('#donateNumber').val("");
        $("input:radio[name=customerGender]").prop('checked', false);
      });
      
      $('#newMemberModal').on('hidden.bs.modal', function (e) {
        $('#createNewMemberBtn').hide();
      })

      //get card info
      $('#createNewMemberCardBtn').click(function(ev){
        $('#newMemberModal').modal('show');
        newMemberData={
          customerName:$('#customerName').val(),
          mobile:$('#mobile').val(),
          age:$('#cusomterAge').val(),
          gender:$('input:radio[name=customerGender]:checked').val(),
          balance:$('#depositSum').val(),
          cardid:"",
          deposit:[{
            //- amount:$('#depositNumber').val();
            amount:$('#depositSum').val(),
            donate:$('#donateNumber').val()
          }]
        };
          $('#notify_text_area').html('请刷会员卡..........');
          $('#notify_msg').val("");
          var memberinfoHead="<div class='form-horizontal'>";
          var memberinfoFoot="</div>";
          var memberinfoColumn=function(indicator,mvalue){
            var cnIndicator="";
            switch(indicator) {
              case "customerName":
                  cnIndicator="用户姓名";
                  break;
              case "mobile":
                  cnIndicator="手机号码";
                  break;
              case "age":
                  cnIndicator="用户年龄";
                  break;
              case "gender":
                  cnIndicator="用户性别";
                  break;
              case "balance":
                  cnIndicator="充值金额";
                  break;
              default:
                cnIndicator="";
            };

            if(cnIndicator){
              return "<div class='form-group'><label class='col-sm-2 control-label'>"+cnIndicator+":</label><div class='col-sm-10'><p class='form-control-static'>"+mvalue+"</p></div></div>";
            }
            else{
              return "";
            }                
          };

          var memberinfo=memberinfoHead;

          for(var mindex in newMemberData){
            memberinfo=memberinfo+memberinfoColumn(mindex,newMemberData[mindex]);
          }
          memberinfo=memberinfo+memberinfoFoot;
          $('#meberInfoBox').html(memberinfo);
        var prepareTime=Date.now();     
        var scanTimer=setInterval(function(){
          $.get("/api/getTargetCard",function(data){
            if(data.scanat>prepareTime){
              $('#notify_text_area').html('读卡成功');
                $('#notify_msg').val(data.cardid);
              //- newMemberData.cardid=data.cardid;
              clearInterval(scanTimer);
              $('#createNewMemberBtn').show();
            }
          });
        },2000);
      });


    });