extends ../layouts/flat_template

block content
  .container
    .row
      ul.nav.nav-tabs
        li.active
          a(href='/users') 帐号管理
        li
          a(href='/clients') 客户信息管理
        li
          a(href='/roles') 角色管理
        li
          a(href='/matrix') 权限管理
  .container.margin-bottom-40.margin-top-20
    a.btn.btn-default(href='/user') 新增帐号
    //- button.btn.btn-default(type='button',data-toggle='modal',data-target='#newUser') 
    //-   i.fa.fa-user-plus
    //-   | 新增帐号
    //- .modal#newUser(tabindex="-1",role="dialog",aria-labelledby="newUserLabel",aria-hidden='true')
    //-   .modal-dialog
    //-     .modal-content
    //-       .modal-header
    //-         button.close(type='button',data-dismiss='modal',aria-label='Close')
    //-           span(aria-hidden='true') &times;
    //-         h4.modal-title New User
    //-       .modal-body
    //-         p haha
    //-       .modal-footer
    //-         button.btn.btn-default(data-dismiss="modal") Close
    //-         button.btn.btn-primary Save Changes
    hr.hr-xs
    table#users_table.display(cellspacing='0', width='100%')
      thead
        tr
          th 姓名
          th 邮箱
          th 手机号码
          th 公司名称
          th 角色
          th 激活
      tbody
        each account in accounts
          tr
            td
              a(href='/user/#{account._id}') #{account.username} 
            td=account.email
            td=account.phone
            td=account.client?account.client.companyname:""
            td
              - rolestr=""
              if account.roles
                for role in account.roles
                  - rolestr +=role.rolename+","
                - rolestr = rolestr.slice(0,-1)
              | #{rolestr}
            td
              if account.enabled
                input.switchbox(data-account-id='#{account._id}',type='checkbox',name='my-checkbox',checked)
              else
                input.switchbox(data-account-id='#{account._id}',type='checkbox',name='my-checkbox')
block customescript
  script(src='/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js')
  script(type='text/javascript', src='/libs/datatables/media/js/jquery.dataTables.min.js')
  script.
    $(function(){
     $('#users_table').DataTable({
        lengthChange:false,
        info:false,
        pageLength:50,
        "language":{
          "sProcessing":   "处理中...",
          "sLengthMenu":   "显示 _MENU_ 项结果",
          "sZeroRecords":  "没有匹配结果",
          "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
          "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
          "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
          "sInfoPostFix":  "",
          "sSearch":       "搜索:",
          "sUrl":          "",
          "sEmptyTable":     "表中数据为空",
          "sLoadingRecords": "载入中...",
          "sInfoThousands":  ",",
          "oPaginate": {
            "sFirst":    "首页",
            "sPrevious": "上页",
            "sNext":     "下页",
            "sLast":     "末页"
          },
          "oAria": {
            "sSortAscending":  ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
          }
        }
      });
      $("input[class='switchbox']").bootstrapSwitch({
        size:"mini",
        onText:"启用",
        offText:'禁用',
        offColor:"danger"
      });
      
      $("input[class='switchbox']").on('switchChange.bootstrapSwitch', function(event, state) {
        //- console.log(this); // DOM element
        //- console.log(event); // jQuery event
        //- console.log(state); // true | false
        var account_id=$(this).data('account-id');
        $.post('/user/disable/'+account_id,{enabled:state},function(){
          
        });
      });

    });